body{
		margin:0;
		font-family: Arial,Helvetica,sans-serif;
	}

	#topbar{
		background-color: #FFFFFF;
		width: 100%;
		height: 40px;
		color: black;
	}

	.fixedwidth{
		width: 1050px;
		margin: 0 auto;

	}

	#bbcLogoDiv{
		padding: 7px 8px 5px 28px;
		float: left;
		border-right: 1px solid #CCCCCC;  

	}

	#signindiv{
		padding: 4px 60px 11px 20px;
		font-size: 0.8em;
		float: left;	
		border-right: 1px solid #CCCCCC;
		font-weight: bold;
	}


	#signindiv img{
		width: 23.2%;
		border-radius: 20px;
		position: relative;
		top:6.5px;
		left: -3px;
	}

	#topmenudiv{
		float:left;
	}

	#topmenudiv ul{
		margin:0;
		padding:0;

	}

	#topmenudiv li{
		list-style: none;
		margin:0;
		font-size: 0.82em;
		border-right: 1px solid #CCCCCC;	
		height: 100%;
		padding:13px 11px 12px 11px;
		float: left;
		font-weight: bold;
	}


	#notifcation{
		height: 30px;
		
		border:none;
		padding-top: 10px;
		font-size: 0.9em;
		background-image: url("images/notification.png");
		background-size: 34%;
		background-repeat: no-repeat;
		background-position: center;
	}	

	#searchdiv{
		float: left;
		padding: 5px 5px 0 10px;

	}

	#searchdiv input{
		height: 22px;
		width: 200px;
		border:none;
		padding-left: 10px;
		font-size: 0.8em;
		font-weight: bold;
		background-image: url("images/magnify.png");
		background-repeat: no-repeat;
		background-position: right;
		background-color: #E4E4E4;
		font:arial;
		font-weight:bold;
		margin-top: 2px;

	}

	.break{
		clear: both;
	}

	#newsbar{
		background-color: #BB1919;
		width: 100%;
		height: 56px;
		color: white;
	}

	#newsbar p{
		padding: 7px 8px 0px 28px;
		margin:0;
		float: left;
	}

	#newsheader{
		font-size: 2.5em;
		font-family: Helvetica,Arial,sans-serif;
	}

	#findlocalnews{
		float: right;
		margin:15px 52px 0px 0px;
		border:1px solid #BB4545;
		padding: 7px 30px 5px 13px;
		font-weight: bold;
		background-image: url("images/findlocalnews.png");
		background-size: 15%;
		background-repeat: no-repeat;
		background-position: right;

	}

	#topicmenubar{
		background-color: #A91717;
		width: 100%;
		height: 35px;
		color: white;
		margin: 0;

	}

	#topicmenubar ul{
		margin:0px 0px 0px 17px;
		padding:12px 0px 0px 0px;
	}


	#topicmenubar li{
		list-style: none;
		font-size: 0.9em;
		padding: 5px; 
		float: left;
		border-right:1px solid #BB4545; 
		padding: 0 13px 0 10px;
		
	}

	.ukselected{
		height: 20px;
		border-bottom: 3px solid #FFFFFF;
	}

	#subtopicmenubar{
		background-color: #FFFFFF;
		width: 100%;
		height: 35px;
		color: black;
		margin: 0;

	}

	#subtopicmenubar ul{
		margin:0px 0px 0px 17px;
		padding:12px 0px 0px 0px;
	}


	#subtopicmenubar li{
		list-style: none;
		font-size: 0.9em;
		padding: 5px; 
		float: left;
		border-right:1px solid #DCDCDC; 
		padding: 0px 13px 0px 10px;
		
	}

	.subMenuUKSelected{
		font-size: 1.2em !important;
		border-bottom: 4px solid #BB1919;
		border-right: none !important;
		margin-top: -5px !important;
		height: 25px;
	}

	#subMenuEngland{
		border-left: 1px solid #DCDCDC;
	}


	#content{
		margin:0px 0px 0px 17px;
		padding:12px 0px 0px 0px;
		font-size: 0.8em;
		width: 100%;
		color: black;
	}


	.date{
		background-image: url("images/lastupdate.png");
		background-size: 15%;
		background-repeat: no-repeat;
		background-position: left;
		padding: 0px 0px 0px 20px !important;
		width: 90px;
		font-size: 0.9em;
		color: #5A5A5A;
		border-right: 1px solid #DCDCDC;
	}


	h1{
		margin:0px 0px 0px 10px;
		padding:12px 0px 0px 0px;
		color: #686868;
		font-size: 2.5em;
	}
	h1:hover{
		color: #1167A8;
	}


	.headlineimage{
		padding-top: 10px;
		margin-left: -10px;
		width: 38%;
		float: left;
	}

	.headlineSummary{
		color: #5A5A5A;
		font-size: 1.1em;
		position: relative;
		width: 220px;
		float: left;
		left: 10px;
		padding:0 50px 10px 0px;
	}

	.headlineSummary ul{
		margin:0;
		padding: 0;
	}

	.headlineSummary li{
		list-style: none;
		float: left;
		padding:0 0px 0px 10px;

	}

	.headlineSummary a{
		text-decoration: none;
		color: red;
		font-size: 0.9em;
	}
	.headlineSummary a:hover{
		color: #1167A8;
	}


	#emptyPaddingBottom{
		margin: 0 0 0 2px;
		width: 40px;
		padding: 0px 0px 10px 0px;
		border-bottom: 1px solid red;
	}

	.headlineNewsItems p{
		margin:10px 0px 10px 0px;
	}

	.headlineNewsItems a{
		color: black;
		font-size: 1em;
	}

	.headlineNewsItems a:visited{
		color:#1167A8;
	}
	

	.live{
		background-image: url("images/live.png");
		background-size: 11%;
		background-repeat: no-repeat;
		background-position: left;
		padding-left: 35px;
	}

	.linebreak{
		line-height: 1.6em;
	}


	#EUReferendum{
		background-color: #EEEEEE;
		float: right;
		width: 310px;
		height: 280px;
		position: relative;
		top: -35px;
		left:-60px;
	}


	.eureferendum{
		float: left;
		width: 70%;
		margin: 10px 10px 10px 10px;
	}


	.votingstats{
		float: left;
		width: 42%;
		margin: 0px 10px 10px 15px;
	}

	#eureflink{
		float: right;
		font-weight: bold;
		font-size: 1.2em;
		width: 180px;
		margin: -80px -25px 0px 20px;
	
	}
	#EUReferendum a{
		text-decoration: none;
		color: black;
	}
	#EUReferendum a:hover{
		color: #1167A8;
	}
	#EUReferendum a:visited{
		color: #686868;
	}

	.eurefitems{
		float: right;
		font-weight: bold;
		font-size: 1.25em;
		width: 280px;
		margin: 10px 15px 10px 0px;
		line-height: 1.7em;
	} 